.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;

  width: 500px;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  padding: 5px;
  font-size: 16px;
  font-weight: 500;
}

.good {
  background-color: rgb(20, 137, 20);
}

.neutral {
  background-color: lightgray;
}

.bad {
  background-color: rgb(161, 10, 33);
}

.total {
  width: 50%;
  border-radius: 5px;
  margin-top: 10px;
  background-color: rgb(223, 111, 0);
}

.percent {
  width: 50%;
  margin-top: 20px;
  background-color: rgb(2, 167, 87);
}
